<span class='img-caption {{classes}}'>
	<div class='img-wrap'>
    <img class="item-img" src="{{image-url}}" alt="{{image-alt}}"/>
    {{#if caption}}
      <span class='caption'>
      {{caption}}
        <!--{{#if caption-url}}
          <a href="{{caption-url}}" target="_blank">{{caption}}</a>
        {{else}}
          {{caption}}
        {{/if}}-->
      </span>
    {{/if}}
  </div>
</span>
